@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

html {
  background: #5A189A;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #001847, #011d55, #2a0047, #390061);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Erica One", sans-serif;
  font-size: 3rem;
  padding: 2rem;
  margin: 1rem auto;
  width: fit-content;
  text-align: center;
  border-radius: 32px;
  border: none;
  color: #fefefe;
  text-shadow:
    -3px 3px 0px #49007e,
    /* Primera sombra violeta */
    3px -3px 0px #2f00d9;
  /* Segunda sombra azul */
  transition: all 0.3s ease-in-out;
  margin-top: 40px;
  margin-bottom: 20px;
}


@keyframes elevar {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*BIENVENIDA*/

.titulo-animado {
  position: relative;
  font-size: 2.9em;
  color: #fff;
  text-align: center;
  z-index: 10;
  padding: 10px 20px;
  border-radius: 20px;
}


.descripcion-ia {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 1.4em;
  text-align: center;
  margin-top: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  opacity: 1;
  transform: translateY(20px);

}

/*CIRCULOS*/


.ring {
  position: relative;
  width: 550px;
  height: 550px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.5s;
}

.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}



