<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>IA de PREDICCION de Aptitud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StylesIndex.css') }}">
</head>

<header>
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo_ungs_512.png') }}" alt="AI Image">
    </div>
    
    <div class="nav">
        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
        <a href="{{ url_for('enviar_correos') }}">Enviar mails</a>
        <a href="{{ url_for('mostrar_etiquetas') }}">Configurar Etiquetas</a>
        <a href="{{ url_for('cargarCV') }}">Cargar CV</a>
        <a href="{{ url_for('postulantes') }}">Ver Postulantes</a>
    </div>
</header>

<body>
    <h1>Bienvenido a ApptitudAI</h1>
    
    <form action="/crear_oferta" method="get" enctype="multipart/form-data">
        <button class="Highbutton" type="submit">Crear nueva oferta laboral</button>
    </form>

    <form action="/ver_ofertas" method="get">
        <button class="Highbutton" type="submit">Ver ofertas laborales</button>
    </form>
    
    <form action="/estadisticas" method="get" style=" box-shadow: 0 0 8px rgba(255, 255, 255, 0.3); border-radius: 25px; background-color: rgba(255, 255, 255, 0.2)">
        <button style="background-color: rgba(255, 255, 255, 0.2);border: 10px solid #fefefe; border-radius: 32px; "  type="submit" >Estadísticas</button>
    </form>
</body>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="{{ url_for('static', filename='images/logoPerfectMatch.png') }}" alt="PF Image">
        </div>
        <div class="footer-description">
            <p>
                Abal, Fernando Gabriel<br>
                Ábalos, Lucas Gabriel<br>
                Bianciotto, Matías Felipe<br>
                Gutiérrez, Diego Germán<br>
                Roldan, Guadalupe <br>
                Sotelo, Evelyn Romina
            </p>
        </div>
        <div class="footer-contacts">
            <div class="footer-country">
                <div class="address">
                    <img src="{{ url_for('static', filename='images/ArgentinaS.png') }}" alt="Argentina Flag">
                    <p>Argentina</p>
                    <p>Buenos Aires</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>©2025 IA para la Predicción de Candidatos — Desarrollado en Python con Scikit-Learn y Árboles de Decisión</p>
    </div>
</footer>
</html>