<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>IA de PREDICCION de Aptitud</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='predecir.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
  {% include "layout/header_general.html" %}
  {% include "layout/menu.html" %}
    <div class="ring">
    <i style="--clr:#1900ff;"></i>
    <i style="--clr:#ea00ff;"></i>
    <i style="--clr:#7644ff;"></i>
    <h1 class="titulo-animado">¡Bienvenido a ApptitudAI!</h1>
    <p class="descripcion-ia">El primer paso para encontrar el mejor talento comienza aquí. <br>¡Sigamos eligiendo con inteligencia!</p>
    </div>
  {% include "layout/footer.html" %}
</body>

</html>